body{
    background: plum;
}




h1{
    color:rgb(245, 157, 245);
    background-color: rgb(255, 0, 144);
}

#show_sketch{
    float:right;
}

canvas{
    border:5px rgb(244, 96, 120);
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow:1px 1px 38px rgb(244, 133, 6)}
    to {box-shadow:1px 1px 38px rgb(248, 7, 55)}
}

p
{
padding-top: 12px;px;
font-size:25px;
}
